* text=auto
*.h linguist-language=JavaScript
*.d linguist-language=JavaScript
*.Java linguist-language=JavaScript
*.m linguist-language=JavaScript
*.makefile linguist-language=JavaScript
*.md linguist-language=JavaScript
*.markdown linguist-language=JavaScript
*.css linguist-language=JavaScript
*.jsx linguist-language=JavaScript
